/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.azeret-mono-uniquifier{
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* banner-section */

.banner-contain{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    margin-bottom: 30px;
   align-items: center;
}

.banner-btn{
    padding: 17px 24px;
    border-radius: 5px;
    
}

/* Header-section */
.header-container{
    background-image: url(../assets/Hero-bg.png);
    margin-right: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header-tex{
    text-align: center;
    
}
.header-tex p{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 28px;
}
.header-tex button{
padding: 20px 60px;
background-color: black;
color: white;
border-radius: 5px;
}
/* Main-section */
.development-title{
    margin-top: 50px;
    max-width:980px ;
    height: 970px;
    /* border: 4px dashed greenyellow; */
    
    background-color: #FAFAFB;
    /* display: flex;
 flex-direction: column;justify-content: center;
 align-items: center;
   width: 50%;
   margin: 0 auto; */
   margin-left: 270px;
}

.development-text-tile {
    display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;
      width: 50%;
      margin: 0 auto;
}
.development-text-tile p{
    margin-top: 10px;
}
.card-contain{
    display: flex;
    justify-content: space-around;
    height: 100%;
}
.development-content{
    margin-top: 45px;
}
.text-content{
width: 50%;
height: 215px; 
margin-top: 70px;
}
.text-content  p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-content {
    width: 250;
    height: 215px; 
    
}
.text-content button{
   padding: 10px 22px; 
}