

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* banner-section */

.banner-contain{
    display: flex;
    justify-content:space-around;
    margin-top: 20px;
    margin-bottom: 30px;
   align-items: center;
}

.banner-btn{
    padding: 17px 24px;
    border-radius: 5px;
    
}

/* Header-section */
.header-container{
    background-image: url(../assets/Hero-bg.png);
    margin-right: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header-tex{
    text-align: center;
    
}
.header-tex p{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 28px;
}
.header-tex button{
padding: 20px 60px;
background-color: black;
color: white;
border-radius: 8px;
}
/* Main-section */
.development-title{
    margin-top: 50px;
    max-width:980px ;
    height: 970px;
    /* border: 4px dashed greenyellow; */
    
    background-color: #FAFAFB;
   margin-left: 200px;
}

.development-text-tile {
    display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;
      width: 50%;
      margin: 0 auto;
}
.development-text-tile p{
    margin-top: 10px;
}
.card-contain{
    display: flex;
    justify-content:space-around;
    height: 100%;
}
.development-content{
    margin-top: 45px;
    

}
.text-content{
width: 50%;
height: 215px; 
margin-top: 70px;
}
.text-content  p{
    margin-top: 20px;
    margin-bottom: 20px;
}
.img-content {
    width: 250;
    height: 215px; 
    
}
.text-content button{
   padding: 10px 22px; 
  
}
.myInspiration-section{
    max-width: 1140px;
    height: 770px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;justify-content: center;
    align-items: center;
      width: 50%;
      margin: 0 auto;
      margin-bottom:150px;
}
.myInspiration-section h1{
    width: 50%;
    margin: 0 auto;
}
.myInspiration-section p{
    margin-top: 60px;
    margin-bottom: 45px;
}
.inspiration-video iframe{
    border-radius: 10px;
    width: 1070px;
    height: 550px;
}
.curernt-caontain{
    width: 1140px;
    height: 460px;
    margin-left: 150px;
    /* border: 5px solid greenyellow; */
}
.current-heading{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    

}
.current-card{
    display: flex;
    gap: 25px;
    justify-content:space-evenly ;
    margin-top: 50px;
}
.card-1{
   background-color: #FFF6F4; 
   border-radius: 10px;
   width: 360px;
   height: 300px;
   padding: 40px;
}
.card-2{
    background-color: #F2F6FE;
    border-radius: 10px;
    width: 360px;
   height: 300px;
   padding: 40px;
}
.card-3{
    background-color: #FFFDF2;
    border-radius: 10px;
    width: 360px;
   height: 300px;
   padding: 40px;
}
.card-1 p,h1,img{

margin-bottom: 20px;
}
.card-2 p,h1,img{

    margin-bottom: 20px;
    }
    .card-3 p,h1,img{

        margin-bottom: 20px;
        }
